spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://127.0.0.1:5432/contacts_api
    username: postgres
    password: 12345
  jpa:
    show-sql: true
    defer-datasource-initialization: true
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
  # Security config
  security:
    user:
      name: sanders
      password: 12345

contacts:
  trace: true
