name: Continues Integration

on:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout project source
        uses: actions/checkout@v4
      - name: Setup JDK 22
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '22'
      - name: Setup with Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.9
      - name: Run tests with coverage with Gradle Wrapper
        run: ./gradlew :jacocoTestCoverageVerification
